*{
 margin: 0 !important;
 padding: 0 !important;
 box-sizing: border-box !important;
 font-family: 'Share Tech', sans-serif;
}

html, body{
 background-image: url('../images/textura.png');
 background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.interno{
  
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

::placeholder{
 color: white;
}

.menu-lateral{
 background-color: #04161A;
}

.paginas .banner a{
 background-color: #04161A;
}

form input[type="submit"]{
 background-color: #04161A;
 border: none;
}

footer{
  background-color: #04161A;
}

footer img{
  width: 30px;
  cursor: pointer;
}